*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
h1{
  text-align: center;
  color: black;
  padding: 14px;
  font-size: 4em;
  font-family: times new roman;
}
h2{
  text-align: center;
  color: black;
  padding: 10px;
  font-size: 4em;
}
h4{
  text-align: center;
  color: black;
  padding: 12px;
  font-size: 4em;
}
h3{
  text-align: center;
  color: black;
  font-size: 4em;
  padding: 5px;
}

nav{
  background-color: #FF6A00;
  display: grid;
  place-items: center;
}
nav ul{
  list-style-type: none;
}
nav ul li{
  font-family: helvetica;
  font-weight: 1000;
}
nav ul a{
  display: inline-block;
  padding: 40px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
  font-size: 35px;
  font-family: georgia;
}
nav ul a:hover{
  background-color: maroon;
  color: white;
}

.item img{
  width: 100%;
  height: 1200px;
  object-fit: cover;
  cursor: pointer;
  transform: 0.2s ease;
}
.item img:hover{
  transform: scale(1.04);
}
.item h4{
  padding: 5px;
  text-align: center;
}
.item button{
      padding: 5px 30px;
      border: none;
      outline: none;
      background-color: red;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      font-size: 35px;
      display: block;
      margin: 0 auto;
      transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
}
.AyamGeprek {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 60vh;           
}
video {
    width: 70%;  
}
body {
    background-color: #FFF4D6;
}
.contact-section {
    text-align: center;
    padding: 40px 20px;
    font-family: "Trebuchet MS", sans-serif;
}

.contact-box {
    background-color: #FFF4D6; 
    width: 350px;
    margin: 0 auto;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    text-align: left;
}

.contact-box p {
    font-size: 16px;
    margin: 12px 0;
}


.contact-box a {
    color: #E05A00;
    font-weight: bold;
    text-decoration: none;
}

.contact-box a:hover {
    text-decoration: underline;
}